<%- include("partials/header")  -%>
<h2> This is a todolist webapp</h2>

<h4> there are two route, which are the "/" home route and the "/work" route. home route can let you add todo item for current day. "work" route can let you add the todo work items. I use node.js and express for the backend, and use ejs
   for (html) template and layout >

 </h4>
<%- include("partials/footer")  -%>
